<section class="py-12">
    <div
        class="flickity-carousel carousel"
        data-flickity='{ "cellAlign": "center", "contain": true, "autoPlay": true, "wrapAround": true }'
    >
        <div class="carousel-cell portrait">
            <img src="/assets/images/weddings/6.jpg" />
        </div>
        <div class="carousel-cell landscape">
            <img src="/assets/images/weddings/5.jpg" />
        </div>
        <div class="carousel-cell portrait">
            <img src="/assets/images/seniors/5.jpg" />
        </div>
        <div class="carousel-cell landscape">
            <img src="/assets/images/seniors/4.jpg" />
        </div>
        <div class="carousel-cell landscape">
            <img src="/assets/images/maternity/1.jpg" />
        </div>
        <div class="carousel-cell landscape">
            <img src="/assets/images/maternity/2.jpg" />
        </div>
        <div class="carousel-cell landscape">
            <img src="/assets/images/branding/1.jpg" />
        </div>
    </div>

    <a href="/portfolio" class="block button filled mx-auto mt-[53px]">See the portfolio</a>
</section>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
