<section class="py-12">
    <div
        class="flickity-carousel carousel"
        data-flickity='{ "cellAlign": "center", "contain": true, "autoPlay": true, "wrapAround": true }'
    >
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/300/200" />
        </div>
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/400/300" />
        </div>
        <div class="carousel-cell portrait">
            <img src="https://picsum.photos/200/300" />
        </div>
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/350/200" />
        </div>
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/700/500" />
        </div>
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/500/450" />
        </div>
        <div class="carousel-cell landscape">
            <img src="https://picsum.photos/450/300" />
        </div>
    </div>

    <a href="/portfolio" class="block button filled mx-auto mt-[53px]">See the portfolio</a>
</section>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
