<footer class="bg-white">
    <section class="container">
        <nav class="flex-1 inline-grid gap-6">
            <a href="/" class="text-center text-decoration-none text-inherit inline-grid max-w-max">
                <span class="text-base leading-3 font-bon-vivant">Naomi</span>
                <span class="text-xl leading-4 font-bon-vivant-serif">Whitaker</span>
            </a>

            <div class="grid gap-2">
                <a href="{{ site.calendly_url }}" class="text-xl font-bon-vivant-serif text-decoration-none hover:underline active:underline text-inherit">Book Consultation</a>
                <a href="/portfolio" class="text-xl font-bon-vivant-serif text-decoration-none hover:underline active:underline text-inherit">Portfolio</a>
                <a href="/about" class="text-xl font-bon-vivant-serif text-decoration-none hover:underline active:underline text-inherit">About</a>
                <a href="/contact" class="text-xl font-bon-vivant-serif text-decoration-none hover:underline active:underline text-inherit">Contact</a>
            </div>

            <p class="text-xl font-bon-vivant-serif">&copy 2023 Naomi Whitaker</p>
        </nav>
        <div class="vertical-divider"></div>
        <div class="flex-1 inline-grid gap-6 text-center place-content-center">
            <p class="text-sm font-bon-vivant-serif font-bold">FOLLOW ME</p>
            <div class="flex gap-6 mx-auto">
                <a href="#" class="text-decoration-none text-inherit text-3xl"><i class="ph ph-instagram-logo"></i></a> 
                <a href="#" class="text-decoration-none text-inherit text-3xl"><i class="ph ph-facebook-logo"></i></a> 
                <a href="#" class="text-decoration-none text-inherit text-3xl"><i class="ph ph-pinterest-logo"></i></a> 
            </div>

            <div class="font-bon-vivant-serif">
                <p>DESIGNED BY GILLIAN SARAH</p>
                <p>ARRANGED BY <a href="https://github.com/juliancoleman">JULIAN COLEMAN</a></p>
            </div>
        </div>
    </section> 
</footer>
