<section class="parallax instagram-reel-parallax">
    <div class="container">
        <a href="https://instagram.com/{{ site.instagram }}" class="grid gap-3 place-content-center flex-1 text-decoration-none text-inherit">
            <span class="text-sm font-bon-vivant-serif">FOLLOW ME ON</span>
            <span class="text-4xl font-bon-vivant">Instagram</span>
        </a>

        <figure class="aspect-square overflow-hidden">
            <img 
                class="object-cover object-center h-full w-full"
                src="/assets/images/instagram-1.jpg"
            />
        </figure>
        <figure class="aspect-square overflow-hidden">
            <img
                class="object-cover object-center h-full w-full"
                src="/assets/images/instagram-2.jpg"
            />
        </figure>
        <figure class="aspect-square overflow-hidden">
            <img
                class="object-cover object-center h-full w-full"
                src="/assets/images/instagram-3.jpg"
            />
        </figure>
    </div>
</section>
