<section class="parallax instagram-reel-parallax">
    <div class="container">
        <div class="grid gap-3 place-content-center flex-1">
            <p class="text-sm font-bon-vivant-serif">FOLLOW ME ON</p>
            <p class="text-4xl font-bon-vivant">Instagram</p>
        </div>

        <figure class="aspect-square overflow-hidden">
            <img 
                class="object-cover object-center h-full w-full"
                src="https://images.unsplash.com/photo-1556302482-70b6e670e6b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=225&q=80"
            />
        </figure>
        <figure class="aspect-square overflow-hidden">
            <img
                class="object-cover object-center h-full w-full"
                src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=225&q=80"
            />
        </figure>
        <figure class="aspect-square overflow-hidden">
            <img
                class="object-cover object-center h-full w-full"
                src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=225&q=80"
            />
        </figure>
    </div>
</section>
