<section class="lets-talk-details">
    <div class="container grid gap-6 mx-auto">
        <div class="text-center">
            <p class="text-sm font-bon-vivant-serif">LET&apos;S TALK</p>
            <p class="text-4xl font-bon-vivant">Details</p>
        </div>

        <div class="actions">
            <article class="grid gap-6 text-center flex-1 auto-rows-max">
                <p class="text-base leading-6 font-actor">
                    Photography services for a wide range of your special events.
                    From couples to maternity to weddings, including quick
                    editing. Everything you need just a click away. Let&apos;s
                    capture every sweet moment together!
                </p>

                <a href="{{ site.calendly_url }}" class="button outlined mx-auto">Book free consultation</a>
            </article>

            <div class="vertical-divider"></div>

            <article class="grid gap-6 text-center flex-1 auto-rows-max">
                <p class="text-base leading-6 font-actor">
                    Not ready to book just yet? That&apos;s okay! No one is ever
                    truly &ldquo;ready&rdquo;. It&apos;s your special event and
                    you want to make sure every little detail is just perfect.
                    That&apos;s why I&apos;ve put together a portfolio to help
                    you decide.
                </p>

                <a href="/portfolio" class="button outlined mx-auto">View Portfolio</a>
            </article>
        </div>
    </div> 
</section>
