---
---

/* Do some resets */

body, main, figure, ul, li, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Bon Vivant Serif";
    src:
        local("Bon Vivant Serif"),
        url("../fonts/Bon\ Vivant/Bon\ Vivant\ Serif.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: "Bon Vivant Serif";
    src:
        local("Bon Vivant Serif Bold"),
        url("../fonts/Bon\ Vivant/Bon\ Vivant\ Serif\ Bold.otf") format("opentype");
    font-style: bold;
}
@font-face {
    font-family: "Bon Vivant";
    src:
        local("BonVivant-Regular"),
        url("../fonts/Bon\ Vivant/BonVivant-Regular.otf") format("opentype");
    font-style: normal;
}


/* Common classes (mostly from Tailwind) */
.bg-white { background-color: #fff }

.inline-grid { display: inline-grid }
.grid { display: grid }
.flex { display: flex }
.flex-1 { flex: 1 }
.block { display: block }

.relative { position: relative }
.absolute { position: absolute }

.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
.grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
.auto-rows-max { grid-auto-rows: max-content }
.row-span-2 { grid-row: span 2 / span 2 }
.col-span-2 { grid-column: span 2 / span 2 }

.gap-2 { gap: 0.5em }
.gap-3 { gap: 0.75em }
.gap-6 { gap: 1.5em }
.gap-12 { gap: 3em }

.justify-end { justify-content: end }
.place-content-center { place-content: center }

.h-full { height: 100% }
.w-full { width: 100% }
.max-w-max { max-width: max-content }

.py-12 { padding-top: 3em; padding-bottom: 3em }
.py-24 { padding-top: 6em; padding-bottom: 6em }
.px-32 { padding-left: 8em; padding-right: 8em }

.mx-auto { margin-left: auto; margin-right: auto }
.mt-\[53px\] { margin-top: 53px }

.font-actor { font-family: "Actor" }
.font-bon-vivant { font-family: "Bon\ Vivant" }
.font-bon-vivant-serif { font-family: "Bon\ Vivant\ Serif" }
.font-bold { font-weight: bold }

.text-decoration-none { text-decoration: none }
.hover\:underline:hover { text-decoration: underline }
.active\:underline:active { text-decoration: underline }
.text-inherit { color: inherit }
.text-center { text-align: center }
.text-sm { font-size: 0.875em }
.text-base { font-size: 1em }
.text-xl { font-size: 1.25em }
.text-3xl { font-size: 1.875em }
.text-4xl { font-size: 2.25em }
.text-5xl { font-size: 2.5em }

.leading-3 { line-height: 0.75em }
.leading-4 { line-height: 1em }
.leading-6 { line-height: 1.5em }

.object-cover { object-fit: cover }
.object-center { object-position: center }
.aspect-square { aspect-ratio: 1 / 1 }

.overflow-hidden { overflow: hidden }

/* Custom classes */

a.button {
    @extend .font-bon-vivant-serif, .font-bold, .text-sm, .text-decoration-none, .text-inherit;
    border-radius: 8px;
}
a.button.outlined {
    padding: 7px 11px;
    border: 1px solid #000;
    background-color: transparent;
    max-width: max-content;
    transition: all 0.15s linear;
}
a.button.outlined:hover {
    background-color: #000;
    color: #fff;
}
a.button.filled {
    padding: 7px 11px;
    border: 1px solid #000;
    background-color: #000;
    max-width: max-content;
    transition: all 0.15s linear;
    color: #fff;
}
a.button.filled:hover {
    background-color: #fff;
    color: #000;
}

.vertical-divider {
    height: 1px;
    background-color: #dfdeda;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.home-hero {
    height: 600px;
    position: relative;
}
.home-hero > .container {
    justify-content: center;
}

.home-hero::before {
    bottom: 150px;
    height: 46px;
    width: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
}

.home-hero-parallax {
    background: url("https://images.unsplash.com/photo-1682417844065-07961597146e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80"), rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay;
}

.lets-talk-details > .container {
    padding: 2em;
}

.lets-talk-details .actions {
    display: grid;
    gap: 1.5em;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-cell {
    height: 370px;
}
.carousel-cell.portrait {
    width: 245px;
}
.carousel-cell.landscape {
    width: 550px;
}

.carousel-cell img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.instagram-reel-parallax {
    background: fixed no-repeat center/cover url("https://images.unsplash.com/photo-1682417844065-07961597146e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80"), rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay;
}
.instagram-reel-parallax > .container {
    @extend .mx-auto, .grid;
    padding: 1em 2em 3em;
    gap: 3em;
}

footer > .container {
    margin: auto;
    padding: 2em 2em 1em;
    display: grid;
    gap: 1.5em;
}

/* Portfolio Summary page */
.portfolio > .container {
    display: grid;
    padding: 2em;
}

.portfolios-grid > figure > figcaption {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Portfolio Details Page */
.portfolio-details-hero {
    flex-direction: column-reverse;
    background: fixed no-repeat center/cover var(--hero-bg), rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay;
}

.portfolio-details-hero .container {
    flex-direction: column-reverse;
    padding: 1em 2em;
}

.portfolio-details-hero .container figure {
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50% 50%;
    overflow: hidden;
}

#portfolio-details-grid > .container {
    @extend .grid;
    padding: 1em 2em;
}

/* About page */
.about > .container {
    display: grid;
    padding: 2em;
}

.about-blurb {
    order: 2;
}

.self-portrait {
    width: 50vw;
    @extend .mx-auto, .aspect-square, .overflow-hidden;
    border-radius: 50%;
    order: 1;
}

/* Contact page */
.contact-blurb .container {
    padding: 3em 2em;
}

@media screen and (min-width: 640px) {
    .vertical-divider {
        height: unset;
        width: 1px;
    }

    .home-hero > .container {
        padding: 6em 8em;
        justify-content: end;
    }

    .lets-talk-details > .container {
        padding: 3em 8em;
    }

    .lets-talk-details .actions {
        display: flex;
        padding: 0.75em;
    }

    .instagram-reel-parallax > .container {
        padding: 3em 8em;
        display: flex;
    }

    footer > .container {
        padding: 3em 6em;
        display: flex;
    }

    /* Portfolio Summary page */
    .portfolio > .container {
        padding: 3em 6em;
    }
    
    .portfolios-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .portfolios-grid > figure > figcaption {
        opacity: 0;
        transition: opacity 0.15s linear;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .portfolios-grid > figure:hover > figcaption {
        opacity: 1;
    }

    /* Portfolio Details Page */
    .portfolio-details-hero .container {
        flex-direction: row;
    }

    .portfolio-details-hero .container figure {
        height: 420px;
        width: 320px;
        aspect-ratio: unset;
        border-radius: 0;
    }

    .portfolio-details-hero > .container {
        padding: 3em 6em;
    }

    #portfolio-details-grid > .container {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        grid-auto-rows: 445px;
        padding: 4em 6em;
    }

    /* About page */
    .about > .container {
        padding: 3em 6em;
        display: flex;
    }

    .about-blurb {
        padding: 1.5em 3em;
        order: 1;
    }

    .self-portrait {
        width: 320px;
        border-radius: 0;
        order: 2;
    }

    /* Contact page */
    .contact-blurb .container {
        padding: 3em 6em;
    }
}
