<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ 'naomi-whitaker-photography/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
        />

        <title>{{ site.title }}</title>

        <script src="https://unpkg.com/@phosphor-icons/web"></script>
    </head>

    <body>
        <main>{{ content }}</main>
        {% include footer.html %}
    </body>
</html>
